body,
#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.HolyGrail-body {
  display: flex;
  flex: 1;
}

.HolyGrail-content {
  flex: 1;
}

.HolyGrail-nav,
.HolyGrail-ads {
  /* 12em is the width of the columns */
  flex: 0 0 15em;
}

.HolyGrail-nav {
  /* put the nav on the left */
  order: -1;
}
header,
footer {
  background-color: #282c34;

  color: whitesmoke;
  padding: 0 1rem;
}
header {
  height: 10rem;
  display: flex;
  font-size: 3rem;
  justify-content: center;
  align-items: center;
}

.imatge-gran {
  width: 300px;
  height: auto;
  padding: 5px;
}

main,
nav,
aside {
  border: solid 1px #282c34;
  padding: 1rem;
}
footer {
  line-height: 3rem;
}

ul li {
  list-style: none;
  margin-top: 1.2rem;
  font-size: 1.2rem;
}
li a {
  text-decoration: none;
  margin-right: 1rem;
}
